* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
	height: 70px;
	background-color: #EC715F;
	position: relative;
}
.header-contents {
	width: 1024px;
	margin: 0 auto;
}
.header-logo {
	height: 100%;
	position: absolute;
	top: 0;
}
.nav-list {
	list-style: none;
	text-align: right;
}
.nav-list-item {
   font-size: 16px;
   color: #FAFAFA;
   margin: 0 30px;
   line-height: 70px;
   float: right;
}

.main-visual {
	height: 650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}
.main-visual-title {
	font-size: 64px;
	color: #FAFAFA;
	padding-top: 200px;
	text-align: center;
}
.main-visual-desc {
	font-size: 20px;
	color: #FAFAFA;
	margin-top: 10px;
	text-align: center;
}

.section-title {
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	position: relative;
	text-align: center;
}
.section-title:before {
	content: ' ';
	position: absolute;
	left: 50%;
	bottom: -10px;
	display: inline-block;
	width: 70px;
	height: 3px;
	background-color: #EC715F;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	translate: translate(-50%);
}
.section-desc {
	text-align: center;
	margin: 38px 0 30px 0;
}

.Portfolio {
	background-color:#ECEFF1;
	padding-bottom: 90px;
}
.Portfolio-wrapper {
	width: 920px;
	margin: 0 auto;
}
.Portfolio-img {
	width: 300px;
	height: 250px;
	padding: 5px;
}

.Feature-wrapper {
	width: 980px;
	margin: 0 auto;
}
.Feature-content {
	float: left;
	height: auto;
	width: 320px;
	margin-right: 10px;
	margin-bottom: 90px;
	position: relative;
}
.Feature-content:last-child {
	margin-right: 0;
}
.Feature-content-num {
	text-align: center;
	margin: 70px 0 10px 0;
	font-size: 20px;
	color: #000000;

}
.Feature-content-desc {
	text-align: left;
}
.Feature-content i {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 40%;
	font-size: 60px;
}
.Profile {
	background-color: #ECEFF1;
}
.Profile-wrapper {
	width: 1024px;
	margin: 0 auto;
	padding-bottom: 90px;
}
.Profile-contents {
	position: relative;
}
.Profile-contents-img {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	margin: 0 131px;
}
.Profile-contents-desc1 {
	width: 512px;
	position: absolute;
	top: 30px;
	left: 512px;
}
.Profile-contents-desc2 {
	width: 512px;
	position: absolute;
	top: 175px;
	left: 512px;
}
.Profile-contents-desc1 h2{
    font-size: 20px;
    margin-bottom: 5px;
}
.Profile-contents-desc1 p{
	font-size: 16px;
	color: #000000;
	text-align: left;
}
.Profile-contents-desc2 h2{
    font-size: 20px;
    margin: 20px 0 5px 0;
}

.Profile-contents-desc2 p{
	font-size: 16px;
	color: #000000;
	text-align: left;
}

.Contact-wrapper {
	width: 800px;
	margin: 0 auto;
	padding-bottom: 90px;
}
.Contact-info {
	position: relative;
}
.Contact-info-adress {
	width: 400px;
	margin: 30px 0 0 180px;
}
.Contact-info-adress h2{
    font-size: 20px;
    margin-bottom: 5px;
}
.Contact-info-adress p{
	margin-bottom: 20px;
}
.Contact-info-sns {
	width: 400px;
	position: absolute;
	top: 30px;
	left: 500px;
}
.Contact-info-sns p{
	font-size: 20px;
	padding-bottom: 5px;
}
.Contact-info-sns i{
	font-size: 50px;
	padding-right: 20px;
}

footer {
	height: 60px;
	background-color: #EC715F;
}
footer p {
	font-size: 16px;
	color: #FAFAFA;
	text-align: center;
	line-height: 60px;
}
#menubtn {
	display: none;
}
@media screen and (max-width:767px){

header {
    height: 50px;
	padding: 0 5%;
}
.header-logo {
	width: auto;
}
.nav-list {
  display: none;
}
/*ハンバーガーメニュー*/
#menubtn i {
  color: #fff;
  font-size: 27px;
  position: absolute;
  top:2px;
  right:4px;
}

#menubtn {
	display: inline-block;
  position: absolute;
  top:5px;
  right:50px;
  height: 40px;
  width: 40px;
  background-color: #EC715F;

  padding:6px 6px;
  border:solid 4px #fff;
  border-radius: 5px;
  cursor: pointer;
}

#menubtn:hover {
  opacity:0.8;
}

#menubtn:focus {
  outline:none;
}

.main-visual {
	background-image: url(img/code.png);
	padding: 0 5%;
}
.main-visual-title {
	font-size: 40px;
	padding: 200px 0 10px 0;
}
.main-visual-desc {
	font-size: 18px;
}
.Portfolio-wrapper {
	width: 90%;
}
.Portfolio-img {
	margin: 0 auto;
	display:block;
}
.Portfolio-img:nth-child(odd) {
	display: none;
}
.Feature-wrapper {
	width: 90%;
	padding: 0 5% 90px 5%;
}
.Feature-content {
	float: none;
	margin: 0 auto;
}
.Feature-content:last-child {
	margin-right: auto;
}

.Feature-content-num {
	padding: 70px 0 0 0;
}
.Feature-content i {
	display: block;
	position: absolute;
	top: 0px;
}
.Profile-wrapper {
	width: 90%;
	padding: 0 5% 90px 5%;
}
.Profile-contents-desc1, .Profile-contents-desc2 {
	position: static;
	margin: 0 auto;
	text-align: center;
}
.Profile-contents-desc1 p, .Profile-contents-desc2 p{
	text-align: center;
}
.Profile-contents-img {
	width: auto;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
.Contact-wrapper {
	width: 90%;
	padding: 0 5% 90px 5%;
}
.Contact-info-sns {
	width: auto;
	position: static;
	text-align: center;
	margin: 0 auto;
}
.Contact-info-sns i{
    padding: 4px;
}
.Contact-info-adress{
	width: auto;
	text-align: center;
	margin: 0 auto;
}
}
















